Repository albertoromerogr/angular-balidea: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore(config): add lint-staged
  .lintstagedrc.json
  src/index.html
Due: eslint --fix

feat: change strategy
  .husky/pre-commit
  .husky/prepare-commit-msg
  package-lock.json
  package.json
  src/app/app-routing.module.ts
  src/app/app.routes.ts
  src/app/modules/movies/movie-list/movie-list.component.html
  src/app/modules/movies/movie-list/movie-list.component.ts
  src/app/shared/lifecycle-demo/lifecycle-demo.component.ts
  src/index.html
  src/main.ts
Due: eslint --fix, prettier --write

chore: husky config
  .husky/commit-msg
  .husky/pre-commit
  .husky/prepare-commit-msg
Due: none

feat(husky): husky config
  .husky/prepare-commit-msg
Due: none

chore(config): add message to commit
  .husky/commit-msg
Due: none

feat(test): add test collection
  .husky/prepare-commit-msg
  __mocks__/fileMock.js
  __mocks__/htmlMock.js
  jest.config.ts
  package-lock.json
  package.json
  pnpm-lock.yaml
  setup-jest.ts
  src/app/app.component.spec.ts
  src/app/models/movie.model.ts
  src/app/modules/movies/movie-detail/movie-detail.component.spec.ts
  src/app/modules/movies/movie-list/movie-list.component.html
  src/app/modules/movies/movie-list/movie-list.component.spec.ts
  src/app/modules/movies/movie-list/movie-list.component.testing-library.spec.ts
  src/app/modules/movies/movie-list/movie-list.component.ts
  src/app/modules/tvshows/pages/tvshow-detail/tvshow-detail.component.spec.ts
  src/app/modules/tvshows/pages/tvshow-detail/tvshow-detail.component.ts
  src/app/modules/tvshows/pages/tvshow-list/tvshow-list.component.spec.ts
  src/app/modules/tvshows/pages/tvshow-list/tvshow-list.component.ts
  src/app/services/helper.service.spec.ts
  src/app/services/helper.service.ts
  src/app/services/movie.service.spec.ts
  src/app/services/movie.service.ts
  src/app/services/tvshow.service.spec.ts
  src/app/shared/footer/footer.component.spec.ts
  src/app/shared/lifecycle-demo/lifecycle-demo.component.spec.ts
  src/app/shared/media-card/media-card.component.spec.ts
  src/app/shared/media-card/media-card.component.ts
  tsconfig.spec.json
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (any of: *.ts) or (any of: *.html)
  prettier --write: (any of: *.ts) or (any of: *.scss)
